--
-- PostgreSQL database dump
--

\restrict XuxZ5n8pjv5CBCt771oF7CTz7jymWfjWc6rXHoj9y4MbfRpvG9mdwT8ij636jPc

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: BoreholeStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BoreholeStatus" AS ENUM (
    'PLANNED',
    'IN_PROGRESS',
    'COMPLETED',
    'ABANDONED'
);


ALTER TYPE public."BoreholeStatus" OWNER TO postgres;

--
-- Name: BoringMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BoringMethod" AS ENUM (
    'WASH_BORING',
    'ROTARY_DRILLING',
    'PERCUSSION_DRILLING',
    'AUGER_BORING'
);


ALTER TYPE public."BoringMethod" OWNER TO postgres;

--
-- Name: DevicePlatform; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DevicePlatform" AS ENUM (
    'ANDROID',
    'IOS',
    'WEB'
);


ALTER TYPE public."DevicePlatform" OWNER TO postgres;

--
-- Name: MediaType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MediaType" AS ENUM (
    'PHOTO',
    'DOCUMENT'
);


ALTER TYPE public."MediaType" OWNER TO postgres;

--
-- Name: OperationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OperationType" AS ENUM (
    'CREATE',
    'UPDATE',
    'DELETE'
);


ALTER TYPE public."OperationType" OWNER TO postgres;

--
-- Name: OrganizationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrganizationType" AS ENUM (
    'EPC_CONTRACTOR',
    'GEOTECH_CONTRACTOR',
    'SYSTEM_OWNER',
    'CLIENT',
    'NABL_LAB',
    'IE_FIRM',
    'STRUCTURAL_CONSULTANT'
);


ALTER TYPE public."OrganizationType" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: PhotoEntityType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PhotoEntityType" AS ENUM (
    'BORING',
    'INTERVAL',
    'SAMPLE',
    'WATER_LEVEL'
);


ALTER TYPE public."PhotoEntityType" OWNER TO postgres;

--
-- Name: PhotoType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PhotoType" AS ENUM (
    'SOIL_SAMPLE',
    'CORE_BOX',
    'SITE_SETUP',
    'WATER_LEVEL'
);


ALTER TYPE public."PhotoType" OWNER TO postgres;

--
-- Name: ProjectCompanyRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProjectCompanyRole" AS ENUM (
    'INITIATOR',
    'CONTRACTOR',
    'SUBCONTRACTOR',
    'CONSULTANT'
);


ALTER TYPE public."ProjectCompanyRole" OWNER TO postgres;

--
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'DRAFT',
    'ACTIVE',
    'ON_HOLD',
    'COMPLETED',
    'ARCHIVED'
);


ALTER TYPE public."ProjectStatus" OWNER TO postgres;

--
-- Name: ReviewStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReviewStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'RESOLVED'
);


ALTER TYPE public."ReviewStatus" OWNER TO postgres;

--
-- Name: ReviewType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReviewType" AS ENUM (
    'ENGINEER_REVIEW',
    'CLIENT_REVIEW',
    'IE_REVIEW'
);


ALTER TYPE public."ReviewType" OWNER TO postgres;

--
-- Name: SampleType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SampleType" AS ENUM (
    'DISTURBED',
    'UNDISTURBED'
);


ALTER TYPE public."SampleType" OWNER TO postgres;

--
-- Name: ScopeType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ScopeType" AS ENUM (
    'SYSTEM',
    'ORGANIZATION',
    'PROJECT'
);


ALTER TYPE public."ScopeType" OWNER TO postgres;

--
-- Name: SyncEntityType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SyncEntityType" AS ENUM (
    'BORING',
    'SPT_RECORD',
    'SAMPLE',
    'PHOTO',
    'WATER_LEVEL'
);


ALTER TYPE public."SyncEntityType" OWNER TO postgres;

--
-- Name: SyncStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SyncStatus" AS ENUM (
    'PENDING',
    'SYNCED',
    'FAILED',
    'CONFLICT'
);


ALTER TYPE public."SyncStatus" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

--
-- Name: WaterReadingType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WaterReadingType" AS ENUM (
    'DRILLING_LEVEL',
    'REST_LEVEL',
    'STABILIZED_LEVEL'
);


ALTER TYPE public."WaterReadingType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id text NOT NULL,
    "userId" text NOT NULL,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actorCompanyId" text,
    "ipAddress" text,
    "isCodeMeson" boolean DEFAULT false NOT NULL,
    "newValue" jsonb,
    "oldValue" jsonb,
    "userAgent" text
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: borehole_intervals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.borehole_intervals (
    id text NOT NULL,
    "boreholeId" text NOT NULL,
    "intervalNo" integer NOT NULL,
    "fromDepth" numeric(10,2) NOT NULL,
    "toDepth" numeric(10,2) NOT NULL,
    "soilDescription" text,
    "nValue" integer,
    remarks text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isCompleted" boolean DEFAULT false NOT NULL,
    blow1 integer,
    blow2 integer,
    blow3 integer,
    "dilatancyApplied" boolean DEFAULT false NOT NULL,
    "gpsLat" numeric(10,8),
    "gpsLng" numeric(11,8),
    "isRefusal" boolean DEFAULT false NOT NULL,
    "nCorrected" integer,
    "observedAt" timestamp(3) without time zone,
    "penetrationMm" integer,
    "prevHash" text,
    "sha256Hash" text
);


ALTER TABLE public.borehole_intervals OWNER TO postgres;

--
-- Name: boreholes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.boreholes (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "boreholeCode" text NOT NULL,
    name text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    "groundLevelRL" numeric(10,2),
    "plannedDepth" numeric(10,2),
    "finalDepth" numeric(10,2),
    status public."BoreholeStatus" DEFAULT 'PLANNED'::public."BoreholeStatus" NOT NULL,
    "startedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "createdByUserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "siteId" text,
    "teamId" text,
    "assignedWorkerId" text,
    "lockedAt" timestamp(3) without time zone,
    method public."BoringMethod",
    "rigType" text,
    "startDepth" numeric(10,2)
);


ALTER TABLE public.boreholes OWNER TO postgres;

--
-- Name: boring_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.boring_sessions (
    id text NOT NULL,
    "boreholeId" text NOT NULL,
    "workerId" text NOT NULL,
    "startDepth" numeric(10,2) NOT NULL,
    "endDepth" numeric(10,2) NOT NULL,
    status text NOT NULL,
    "terminationReason" text,
    "startedAt" timestamp(3) without time zone NOT NULL,
    "endedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.boring_sessions OWNER TO postgres;

--
-- Name: conflict_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conflict_logs (
    id text NOT NULL,
    "deviceId" text NOT NULL,
    "entityType" public."SyncEntityType" NOT NULL,
    "entityId" text NOT NULL,
    "localVersion" integer NOT NULL,
    "serverVersion" integer NOT NULL,
    "conflictDetails" jsonb NOT NULL,
    resolution text,
    "resolvedByUserId" text,
    "resolvedAt" timestamp(3) without time zone
);


ALTER TABLE public.conflict_logs OWNER TO postgres;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id text NOT NULL,
    "userId" text NOT NULL,
    "deviceUuid" text NOT NULL,
    platform public."DevicePlatform" NOT NULL,
    "deviceName" text,
    "appVersion" text,
    "lastSeenAt" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastSyncAt" timestamp(3) without time zone
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: engineer_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.engineer_reviews (
    id text NOT NULL,
    "boreholeId" text NOT NULL,
    "reviewedByUserId" text NOT NULL,
    "reviewType" public."ReviewType" DEFAULT 'ENGINEER_REVIEW'::public."ReviewType" NOT NULL,
    status public."ReviewStatus" DEFAULT 'PENDING'::public."ReviewStatus" NOT NULL,
    comments text,
    "isCodeMeson" boolean DEFAULT false NOT NULL,
    "reviewedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.engineer_reviews OWNER TO postgres;

--
-- Name: lab_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lab_results (
    id text NOT NULL,
    "sampleId" text NOT NULL,
    "nablLabId" text NOT NULL,
    "testType" text NOT NULL,
    "testValues" jsonb NOT NULL,
    "resultValues" jsonb NOT NULL,
    "reportNumber" text NOT NULL,
    "reportPdfUrl" text NOT NULL,
    "testedOn" timestamp(3) without time zone NOT NULL,
    "sha256Hash" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lab_results OWNER TO postgres;

--
-- Name: media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media (
    id text NOT NULL,
    "intervalId" text,
    "fileName" text NOT NULL,
    "filePath" text NOT NULL,
    "mimeType" text NOT NULL,
    "mediaType" public."MediaType" NOT NULL,
    "uploadedByUserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "accuracyM" numeric(5,2),
    "entityId" text,
    "entityType" public."PhotoEntityType",
    "gpsLat" numeric(10,8),
    "gpsLng" numeric(11,8),
    "photoType" public."PhotoType",
    "sha256Hash" text,
    "thumbnailUrl" text
);


ALTER TABLE public.media OWNER TO postgres;

--
-- Name: nabl_labs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nabl_labs (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "nablCertNumber" text NOT NULL,
    "labName" text NOT NULL,
    "accreditedTests" jsonb NOT NULL,
    "certValidFrom" timestamp(3) without time zone NOT NULL,
    "certValidUntil" timestamp(3) without time zone NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "verificationDocUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.nabl_labs OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id text NOT NULL,
    name text NOT NULL,
    type public."OrganizationType" NOT NULL,
    email text,
    phone text,
    address text,
    city text,
    state text,
    country text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    gstin text,
    "isVerified" boolean DEFAULT false NOT NULL,
    "logoUrl" text,
    pan text,
    pincode text,
    "registeredAddress" text,
    "subscriptionExpiry" timestamp(3) without time zone,
    "subscriptionPlan" text,
    "verifiedAt" timestamp(3) without time zone,
    website text
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "companyId" text NOT NULL,
    "initiatedByUserId" text NOT NULL,
    "planType" text NOT NULL,
    "boringsPurchased" integer NOT NULL,
    "amountPaid" numeric(10,2) NOT NULL,
    "razorpayOrderId" text NOT NULL,
    "razorpayPaymentId" text,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "invoiceUrl" text,
    "paidAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    code text NOT NULL,
    module text NOT NULL,
    action text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    description text
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: project_companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_companies (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "companyId" text NOT NULL,
    role public."ProjectCompanyRole" DEFAULT 'CONTRACTOR'::public."ProjectCompanyRole" NOT NULL,
    "invitedByUserId" text,
    "inviteAcceptedAt" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.project_companies OWNER TO postgres;

--
-- Name: project_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_members (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.project_members OWNER TO postgres;

--
-- Name: project_sites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_sites (
    id text NOT NULL,
    "projectId" text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.project_sites OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id text NOT NULL,
    "projectCode" text NOT NULL,
    name text NOT NULL,
    description text,
    status public."ProjectStatus" DEFAULT 'DRAFT'::public."ProjectStatus" NOT NULL,
    "epcOrganizationId" text NOT NULL,
    "geotechOrganizationId" text NOT NULL,
    "createdByUserId" text NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "billingCompanyId" text,
    "chainageFrom" numeric(10,3),
    "chainageTo" numeric(10,3),
    district text,
    "initiatedByCompanyId" text,
    "initiatedByUserId" text,
    "lockedAt" timestamp(3) without time zone,
    "projectType" text,
    state text,
    "targetCompletionDate" timestamp(3) without time zone,
    "totalBoringsPlanned" integer
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    "deviceId" text,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: review_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review_messages (
    id text NOT NULL,
    "threadId" text NOT NULL,
    "senderId" text NOT NULL,
    message text NOT NULL,
    attachments jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.review_messages OWNER TO postgres;

--
-- Name: review_threads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review_threads (
    id text NOT NULL,
    "boreholeId" text NOT NULL,
    "raisedByUserId" text NOT NULL,
    "assignedToUserId" text NOT NULL,
    "threadType" text NOT NULL,
    status text NOT NULL,
    priority text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.review_threads OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id text NOT NULL,
    "roleId" text NOT NULL,
    "permissionId" text NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isSystemRole" boolean DEFAULT false NOT NULL,
    scope public."ScopeType" DEFAULT 'ORGANIZATION'::public."ScopeType" NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: samples; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.samples (
    id text NOT NULL,
    "intervalId" text NOT NULL,
    "sampleNumber" text NOT NULL,
    "sampleType" public."SampleType" NOT NULL,
    "sampleDepth" numeric(10,2) NOT NULL,
    remarks text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "assignedLabId" text,
    "collectedAt" timestamp(3) without time zone,
    "collectedByUserId" text,
    "depthFrom" numeric(10,2),
    "depthTo" numeric(10,2),
    "dispatchDate" timestamp(3) without time zone,
    "dispatchedToLabId" text,
    "sampleCondition" text,
    status text
);


ALTER TABLE public.samples OWNER TO postgres;

--
-- Name: soil_descriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.soil_descriptions (
    id text NOT NULL,
    "sptRecordId" text NOT NULL,
    "soilType" text NOT NULL,
    "uscsCode" text,
    color text,
    consistency text,
    description text NOT NULL,
    remarks text,
    "enteredByUserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.soil_descriptions OWNER TO postgres;

--
-- Name: sync_operations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sync_operations (
    id text NOT NULL,
    "deviceId" text NOT NULL,
    "operationId" text NOT NULL,
    "entityType" public."SyncEntityType" NOT NULL,
    "entityId" text NOT NULL,
    "operationType" public."OperationType" NOT NULL,
    "payloadJson" jsonb NOT NULL,
    status public."SyncStatus" DEFAULT 'PENDING'::public."SyncStatus" NOT NULL,
    "retryCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "syncedAt" timestamp(3) without time zone,
    "boringSessionId" text
);


ALTER TABLE public.sync_operations OWNER TO postgres;

--
-- Name: team_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team_members (
    id text NOT NULL,
    "teamId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.team_members OWNER TO postgres;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "notificationSent" boolean DEFAULT false NOT NULL,
    "projectId" text,
    "supervisorUserId" text,
    "teamPrefix" text
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: user_company_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_company_roles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyId" text NOT NULL,
    "roleId" text NOT NULL,
    "isPrimary" boolean DEFAULT true NOT NULL,
    "grantedByUserId" text,
    "grantedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "revokedAt" timestamp(3) without time zone
);


ALTER TABLE public.user_company_roles OWNER TO postgres;

--
-- Name: user_project_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_project_roles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "projectId" text NOT NULL,
    "companyId" text NOT NULL,
    "roleId" text NOT NULL,
    "assignedByUserId" text,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "revokedAt" timestamp(3) without time zone
);


ALTER TABLE public.user_project_roles OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "roleId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    "employeeCode" text,
    "firstName" text NOT NULL,
    "lastName" text,
    email text,
    mobile text,
    "passwordHash" text NOT NULL,
    "pinHash" text,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    designation text,
    "preferredLanguage" text DEFAULT 'en'::text,
    "profilePhotoUrl" text,
    "userType" text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: water_table_observations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.water_table_observations (
    id text NOT NULL,
    "boreholeId" text NOT NULL,
    depth numeric(8,2) NOT NULL,
    "observedAt" timestamp(3) without time zone NOT NULL,
    remarks text,
    "createdByUserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readingType" public."WaterReadingType",
    "sha256Hash" text
);


ALTER TABLE public.water_table_observations OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: borehole_intervals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: boreholes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: boring_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.boring_sessions (id, "boreholeId", "workerId", "startDepth", "endDepth", status, "terminationReason", "startedAt", "endedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: conflict_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conflict_logs (id, "deviceId", "entityType", "entityId", "localVersion", "serverVersion", "conflictDetails", resolution, "resolvedByUserId", "resolvedAt") FROM stdin;
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devices (id, "userId", "deviceUuid", platform, "deviceName", "appVersion", "lastSeenAt", "isActive", "createdAt", "updatedAt", "lastSyncAt") FROM stdin;
\.


--
-- Data for Name: engineer_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.engineer_reviews (id, "boreholeId", "reviewedByUserId", "reviewType", status, comments, "isCodeMeson", "reviewedAt") FROM stdin;
\.


--
-- Data for Name: lab_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lab_results (id, "sampleId", "nablLabId", "testType", "testValues", "resultValues", "reportNumber", "reportPdfUrl", "testedOn", "sha256Hash", "createdAt") FROM stdin;
\.


--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: nabl_labs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.nabl_labs (id, "companyId", "nablCertNumber", "labName", "accreditedTests", "certValidFrom", "certValidUntil", "isVerified", "verificationDocUrl", "createdAt") FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments (id, "projectId", "companyId", "initiatedByUserId", "planType", "boringsPurchased", "amountPaid", "razorpayOrderId", "razorpayPaymentId", status, "invoiceUrl", "paidAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_companies (id, "projectId", "companyId", role, "invitedByUserId", "inviteAcceptedAt", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: project_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_members (id, "projectId", "userId", "createdAt") FROM stdin;
a374d366-2b68-4431-889f-04bff9590cf6	f0f7dd9d-0a73-401e-9a2f-6cd5c7991709	c9790382-4841-4b9d-8ad7-8263623c677a	2026-06-03 04:31:36.381
\.


--
-- Data for Name: project_sites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_sites (id, "projectId", code, name, description, latitude, longitude, "isActive", "createdAt", "updatedAt") FROM stdin;
dbcbe660-8458-42c6-84d0-223dd3dc50ca	f0f7dd9d-0a73-401e-9a2f-6cd5c7991709	STA-A	Station A	Chainage 0+000 to 0+500	\N	\N	t	2026-06-03 11:32:55.022	2026-06-03 11:32:55.022
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: review_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review_messages (id, "threadId", "senderId", message, attachments, "createdAt") FROM stdin;
\.


--
-- Data for Name: review_threads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review_threads (id, "boreholeId", "raisedByUserId", "assignedToUserId", "threadType", status, priority, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: samples; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: soil_descriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.soil_descriptions (id, "sptRecordId", "soilType", "uscsCode", color, consistency, description, remarks, "enteredByUserId", "createdAt") FROM stdin;
\.


--
-- Data for Name: sync_operations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sync_operations (id, "deviceId", "operationId", "entityType", "entityId", "operationType", "payloadJson", status, "retryCount", "createdAt", "syncedAt", "boringSessionId") FROM stdin;
\.


--
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team_members (id, "teamId", "userId", "createdAt") FROM stdin;
dc5cb3ec-55ce-4038-b9ff-d2688e2fff3c	ae12ad71-e16b-4370-8688-d95e539745e4	c9790382-4841-4b9d-8ad7-8263623c677a	2026-06-03 11:55:13.222
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teams (id, "organizationId", code, name, description, "isActive", "createdAt", "updatedAt", "notificationSent", "projectId", "supervisorUserId", "teamPrefix") FROM stdin;
ae12ad71-e16b-4370-8688-d95e539745e4	geotech-seed	TEAM-A	Team Alpha	\N	t	2026-06-03 11:49:30.931	2026-06-03 11:49:30.931	f	\N	\N	\N
\.


--
-- Data for Name: user_company_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_company_roles (id, "userId", "companyId", "roleId", "isPrimary", "grantedByUserId", "grantedAt", "revokedAt") FROM stdin;
\.


--
-- Data for Name: user_project_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_project_roles (id, "userId", "projectId", "companyId", "roleId", "assignedByUserId", "assignedAt", "revokedAt") FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: water_table_observations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.water_table_observations (id, "boreholeId", depth, "observedAt", remarks, "createdByUserId", "createdAt", "readingType", "sha256Hash") FROM stdin;
a3ab85c4-ce85-4914-9860-598bc2cd073e	936c50dc-57e5-4e2b-a533-b31ea84e0dce	3.20	2026-02-22 00:00:00	\N	6aa0f522-e72c-47bd-b6fe-ee7d318c5f64	2026-06-04 09:26:22.283	\N	\N
f71bb029-5627-4c5c-961e-840b7da2af58	936c50dc-57e5-4e2b-a533-b31ea84e0dce	3.20	2026-06-04 10:30:00	Groundwater encountered	6aa0f522-e72c-47bd-b6fe-ee7d318c5f64	2026-06-04 09:28:24.681	\N	\N
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: borehole_intervals borehole_intervals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.borehole_intervals
    ADD CONSTRAINT borehole_intervals_pkey PRIMARY KEY (id);


--
-- Name: boreholes boreholes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boreholes
    ADD CONSTRAINT boreholes_pkey PRIMARY KEY (id);


--
-- Name: boring_sessions boring_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boring_sessions
    ADD CONSTRAINT boring_sessions_pkey PRIMARY KEY (id);


--
-- Name: conflict_logs conflict_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_logs
    ADD CONSTRAINT conflict_logs_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: engineer_reviews engineer_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.engineer_reviews
    ADD CONSTRAINT engineer_reviews_pkey PRIMARY KEY (id);


--
-- Name: lab_results lab_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lab_results
    ADD CONSTRAINT lab_results_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: nabl_labs nabl_labs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nabl_labs
    ADD CONSTRAINT nabl_labs_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: project_companies project_companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_companies
    ADD CONSTRAINT project_companies_pkey PRIMARY KEY (id);


--
-- Name: project_members project_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT project_members_pkey PRIMARY KEY (id);


--
-- Name: project_sites project_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_sites
    ADD CONSTRAINT project_sites_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: review_messages review_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_messages
    ADD CONSTRAINT review_messages_pkey PRIMARY KEY (id);


--
-- Name: review_threads review_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_threads
    ADD CONSTRAINT review_threads_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: samples samples_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT samples_pkey PRIMARY KEY (id);


--
-- Name: soil_descriptions soil_descriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.soil_descriptions
    ADD CONSTRAINT soil_descriptions_pkey PRIMARY KEY (id);


--
-- Name: sync_operations sync_operations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_operations
    ADD CONSTRAINT sync_operations_pkey PRIMARY KEY (id);


--
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: user_company_roles user_company_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_company_roles
    ADD CONSTRAINT user_company_roles_pkey PRIMARY KEY (id);


--
-- Name: user_project_roles user_project_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT user_project_roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: water_table_observations water_table_observations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.water_table_observations
    ADD CONSTRAINT water_table_observations_pkey PRIMARY KEY (id);


--
-- Name: borehole_intervals_boreholeId_intervalNo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "borehole_intervals_boreholeId_intervalNo_key" ON public.borehole_intervals USING btree ("boreholeId", "intervalNo");


--
-- Name: boreholes_projectId_boreholeCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "boreholes_projectId_boreholeCode_key" ON public.boreholes USING btree ("projectId", "boreholeCode");


--
-- Name: devices_deviceUuid_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "devices_deviceUuid_key" ON public.devices USING btree ("deviceUuid");


--
-- Name: lab_results_sampleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "lab_results_sampleId_key" ON public.lab_results USING btree ("sampleId");


--
-- Name: nabl_labs_companyId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "nabl_labs_companyId_key" ON public.nabl_labs USING btree ("companyId");


--
-- Name: permissions_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX permissions_code_key ON public.permissions USING btree (code);


--
-- Name: project_companies_projectId_companyId_role_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "project_companies_projectId_companyId_role_key" ON public.project_companies USING btree ("projectId", "companyId", role);


--
-- Name: project_members_projectId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "project_members_projectId_userId_key" ON public.project_members USING btree ("projectId", "userId");


--
-- Name: project_sites_projectId_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "project_sites_projectId_code_key" ON public.project_sites USING btree ("projectId", code);


--
-- Name: projects_projectCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "projects_projectCode_key" ON public.projects USING btree ("projectCode");


--
-- Name: role_permissions_roleId_permissionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "role_permissions_roleId_permissionId_key" ON public.role_permissions USING btree ("roleId", "permissionId");


--
-- Name: roles_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX roles_code_key ON public.roles USING btree (code);


--
-- Name: soil_descriptions_sptRecordId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "soil_descriptions_sptRecordId_key" ON public.soil_descriptions USING btree ("sptRecordId");


--
-- Name: team_members_teamId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "team_members_teamId_userId_key" ON public.team_members USING btree ("teamId", "userId");


--
-- Name: teams_organizationId_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "teams_organizationId_code_key" ON public.teams USING btree ("organizationId", code);


--
-- Name: user_company_roles_userId_companyId_roleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_company_roles_userId_companyId_roleId_key" ON public.user_company_roles USING btree ("userId", "companyId", "roleId");


--
-- Name: user_project_roles_userId_projectId_companyId_roleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_project_roles_userId_projectId_companyId_roleId_key" ON public.user_project_roles USING btree ("userId", "projectId", "companyId", "roleId");


--
-- Name: user_roles_userId_roleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_roles_userId_roleId_key" ON public.user_roles USING btree ("userId", "roleId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_employeeCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_employeeCode_key" ON public.users USING btree ("employeeCode");


--
-- Name: users_mobile_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_mobile_key ON public.users USING btree (mobile);


--
-- Name: activity_logs activity_logs_actorCompanyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "activity_logs_actorCompanyId_fkey" FOREIGN KEY ("actorCompanyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: activity_logs activity_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "activity_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: borehole_intervals borehole_intervals_boreholeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.borehole_intervals
    ADD CONSTRAINT "borehole_intervals_boreholeId_fkey" FOREIGN KEY ("boreholeId") REFERENCES public.boreholes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: boreholes boreholes_assignedWorkerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boreholes
    ADD CONSTRAINT "boreholes_assignedWorkerId_fkey" FOREIGN KEY ("assignedWorkerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: boreholes boreholes_createdByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boreholes
    ADD CONSTRAINT "boreholes_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: boreholes boreholes_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boreholes
    ADD CONSTRAINT "boreholes_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: boreholes boreholes_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boreholes
    ADD CONSTRAINT "boreholes_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public.project_sites(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: boreholes boreholes_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boreholes
    ADD CONSTRAINT "boreholes_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: boring_sessions boring_sessions_boreholeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boring_sessions
    ADD CONSTRAINT "boring_sessions_boreholeId_fkey" FOREIGN KEY ("boreholeId") REFERENCES public.boreholes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: boring_sessions boring_sessions_workerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.boring_sessions
    ADD CONSTRAINT "boring_sessions_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: conflict_logs conflict_logs_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_logs
    ADD CONSTRAINT "conflict_logs_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: conflict_logs conflict_logs_resolvedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conflict_logs
    ADD CONSTRAINT "conflict_logs_resolvedByUserId_fkey" FOREIGN KEY ("resolvedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: devices devices_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT "devices_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: engineer_reviews engineer_reviews_boreholeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.engineer_reviews
    ADD CONSTRAINT "engineer_reviews_boreholeId_fkey" FOREIGN KEY ("boreholeId") REFERENCES public.boreholes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: engineer_reviews engineer_reviews_reviewedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.engineer_reviews
    ADD CONSTRAINT "engineer_reviews_reviewedByUserId_fkey" FOREIGN KEY ("reviewedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lab_results lab_results_nablLabId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lab_results
    ADD CONSTRAINT "lab_results_nablLabId_fkey" FOREIGN KEY ("nablLabId") REFERENCES public.nabl_labs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lab_results lab_results_sampleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lab_results
    ADD CONSTRAINT "lab_results_sampleId_fkey" FOREIGN KEY ("sampleId") REFERENCES public.samples(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: media media_intervalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT "media_intervalId_fkey" FOREIGN KEY ("intervalId") REFERENCES public.borehole_intervals(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: media media_uploadedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT "media_uploadedByUserId_fkey" FOREIGN KEY ("uploadedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: nabl_labs nabl_labs_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nabl_labs
    ADD CONSTRAINT "nabl_labs_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_initiatedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_initiatedByUserId_fkey" FOREIGN KEY ("initiatedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: project_companies project_companies_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_companies
    ADD CONSTRAINT "project_companies_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: project_companies project_companies_invitedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_companies
    ADD CONSTRAINT "project_companies_invitedByUserId_fkey" FOREIGN KEY ("invitedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: project_companies project_companies_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_companies
    ADD CONSTRAINT "project_companies_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: project_members project_members_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT "project_members_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: project_members project_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT "project_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: project_sites project_sites_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_sites
    ADD CONSTRAINT "project_sites_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: projects projects_billingCompanyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "projects_billingCompanyId_fkey" FOREIGN KEY ("billingCompanyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: projects projects_createdByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "projects_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: projects projects_epcOrganizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "projects_epcOrganizationId_fkey" FOREIGN KEY ("epcOrganizationId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: projects projects_geotechOrganizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "projects_geotechOrganizationId_fkey" FOREIGN KEY ("geotechOrganizationId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: projects projects_initiatedByCompanyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "projects_initiatedByCompanyId_fkey" FOREIGN KEY ("initiatedByCompanyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: refresh_tokens refresh_tokens_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: review_messages review_messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_messages
    ADD CONSTRAINT "review_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: review_messages review_messages_threadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_messages
    ADD CONSTRAINT "review_messages_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES public.review_threads(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: review_threads review_threads_assignedToUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_threads
    ADD CONSTRAINT "review_threads_assignedToUserId_fkey" FOREIGN KEY ("assignedToUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: review_threads review_threads_boreholeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_threads
    ADD CONSTRAINT "review_threads_boreholeId_fkey" FOREIGN KEY ("boreholeId") REFERENCES public.boreholes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: review_threads review_threads_raisedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review_threads
    ADD CONSTRAINT "review_threads_raisedByUserId_fkey" FOREIGN KEY ("raisedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: role_permissions role_permissions_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: role_permissions role_permissions_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: samples samples_assignedLabId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT "samples_assignedLabId_fkey" FOREIGN KEY ("assignedLabId") REFERENCES public.nabl_labs(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: samples samples_collectedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT "samples_collectedByUserId_fkey" FOREIGN KEY ("collectedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: samples samples_dispatchedToLabId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT "samples_dispatchedToLabId_fkey" FOREIGN KEY ("dispatchedToLabId") REFERENCES public.nabl_labs(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: samples samples_intervalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT "samples_intervalId_fkey" FOREIGN KEY ("intervalId") REFERENCES public.borehole_intervals(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: soil_descriptions soil_descriptions_enteredByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.soil_descriptions
    ADD CONSTRAINT "soil_descriptions_enteredByUserId_fkey" FOREIGN KEY ("enteredByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: soil_descriptions soil_descriptions_sptRecordId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.soil_descriptions
    ADD CONSTRAINT "soil_descriptions_sptRecordId_fkey" FOREIGN KEY ("sptRecordId") REFERENCES public.borehole_intervals(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sync_operations sync_operations_boringSessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_operations
    ADD CONSTRAINT "sync_operations_boringSessionId_fkey" FOREIGN KEY ("boringSessionId") REFERENCES public.boring_sessions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sync_operations sync_operations_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_operations
    ADD CONSTRAINT "sync_operations_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: team_members team_members_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT "team_members_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: team_members team_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT "team_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: teams teams_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT "teams_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_company_roles user_company_roles_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_company_roles
    ADD CONSTRAINT "user_company_roles_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_company_roles user_company_roles_grantedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_company_roles
    ADD CONSTRAINT "user_company_roles_grantedByUserId_fkey" FOREIGN KEY ("grantedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_company_roles user_company_roles_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_company_roles
    ADD CONSTRAINT "user_company_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_company_roles user_company_roles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_company_roles
    ADD CONSTRAINT "user_company_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_project_roles user_project_roles_assignedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT "user_project_roles_assignedByUserId_fkey" FOREIGN KEY ("assignedByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_project_roles user_project_roles_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT "user_project_roles_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_project_roles user_project_roles_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT "user_project_roles_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_project_roles user_project_roles_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT "user_project_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_project_roles user_project_roles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT "user_project_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_roles user_roles_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "user_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_roles user_roles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "user_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: water_table_observations water_table_observations_boreholeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.water_table_observations
    ADD CONSTRAINT "water_table_observations_boreholeId_fkey" FOREIGN KEY ("boreholeId") REFERENCES public.boreholes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: water_table_observations water_table_observations_createdByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.water_table_observations
    ADD CONSTRAINT "water_table_observations_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict XuxZ5n8pjv5CBCt771oF7CTz7jymWfjWc6rXHoj9y4MbfRpvG9mdwT8ij636jPc

